In [38]:
import pandas as pd
import ast
import json

In [39]:
df_scores = pd.read_excel("Puntuacion.xlsx", engine="openpyxl")
p_cols = [f'P{i}' for i in range(1, 51)]
df_scores['scores'] = df_scores[p_cols].values.tolist()
df_scores.drop(columns=p_cols, inplace=True)
df_scores

,Nº PARTICIPANTE,ESTADO/PAIS DE ORIGEM,BAIRRO,IDADE,GRAU DE ESCOLARIDADE,IDENTIDADE DE GÊNERO,scores
0,1,PE/Brasil,Botafogo,22,G,H,"[7, 7, 4, 4, 4, 3, 6, 5, 5, 6, 7, 3, 4, 4, 3, ..."
1,2,ES/Brasil,Laranjeiras,22,G,H,"[4, 7, 5, 3, 7, 9, 4, 2, 8, 9, 7, 2, 6, 8, 4, ..."
2,3,Paraguai,Botafogo,29,D,H,"[4, 7, 3, 4, 5, 6, 4, 5, 5, 7, 7, 7, 5, 4, 4, ..."
3,4,Peru,Centro,43,Me,H,"[5, 3, 6, 3, 5, 4, 6, 4, 3, 5, 5, 5, 6, 4, 6, ..."
4,5,Peru,Botafogo,25,Me,H,"[4, 5, 5, 4, 4, 3, 3, 6, 4, 8, 4, 3, 9, 1, 8, ..."
5,6,RS/Brasil,Botafogo,22,Me,M,"[4, 7, 7, 8, 3, 4, 5, 6, 6, 3, 5, 5, 3, 6, 5, ..."
6,7,Peru,Botafogo,27,D,H,"[5, 8, 7, 3, 3, 3, 8, 2, 5, 5, 4, 4, 8, 7, 6, ..."
7,8,MG/Brasil,Botafogo,24,Me,M,"[7, 4, 1, 8, 5, 8, 8, 5, 2, 2, 8, 7, 8, 4, 3, ..."
8,9,Peru,Botafogo,38,D,H,"[4, 4, 4, 5, 5, 4, 4, 5, 5, 4, 4, 6, 5, 4, 5, ..."
9,10,SC/Brasil,Flamengo,22,Me,H,"[5, 3, 4, 9, 7, 5, 6, 7, 4, 4, 7, 9, 9, 3, 5, ..."
10,11,AL/Brasil,Flamengo,21,Me,H,"[4, 4, 5, 5, 6, 6, 5, 7, 7, 3, 8, 5, 5, 7, 4, ..."
11,12,PR/Brasil,Flamengo,22,Me,M,"[4, 6, 5, 7, 7, 5, 4, 3, 4, 7, 7, 6, 5, 7, 7, ..."
12,13,Peru,Botafogo,23,Me,H,"[4, 5, 4, 3, 3, 2, 4, 3, 3, 4, 3, 4, 1, 5, 4, ..."
13,14,Peru,Botafogo,19,G,M,"[7, 9, 7, 4, 3, 4, 7, 4, 5, 2, 5, 3, 4, 5, 7, ..."
14,15,Paraguai,Laranjeiras,27,D,H,"[6, 7, 5, 5, 4, 8, 3, 8, 5, 5, 4, 7, 7, 5, 7, ..."
15,16,Paraguai,Flamengo,28,G,M,"[8, 5, 5, 7, 3, 4, 1, 2, 2, 5, 4, 5, 2, 5, 1, ..."
16,17,Peru,Botafogo,25,G,H,"[7, 9, 4, 6, 4, 7, 7, 3, 3, 8, 4, 4, 2, 7, 4, ..."
17,18,RJ/Brasil,Ramos,20,G,M,"[7, 5, 6, 5, 6, 6, 5, 5, 4, 5, 6, 6, 6, 7, 7, ..."
18,19,GO/Brasil,Flamengo,20,G,H,"[8, 5, 6, 4, 6, 8, 7, 7, 2, 7, 8, 7, 3, 5, 9, ..."
19,20,MG/Brasil,Botafogo,22,D,M,"[3, 4, 7, 3, 8, 9, 8, 10, 5, 7, 6, 8, 6, 4, 3,..."
20,21,PR/Brasil,Flamengo,20,G,M,"[9, 6, 5, 7, 7, 5, 8, 7, 5, 6, 8, 7, 5, 6, 6, ..."
21,22,MS/Brasil,Flamengo,20,G,M,"[6, 9, 7, 7, 5, 5, 8, 7, 3, 6, 6, 5, 7, 3, 6, ..."
22,23,SP/Brasil,Flamengo,21,G,H,"[7, 8, 6, 8, 6, 8, 5, 8, 7, 7, 8, 8, 9, 8, 8, ..."
23,24,MA/Brasil,Vidigal,23,G,H,"[10, 3, 7, 6, 3, 7, 6, 7, 6, 6, 5, 8, 6, 7, 7,..."
24,25,SP/Brasil,Botafogo,21,G,H,"[8, 7, 4, 9, 7, 5, 7, 6, 4, 4, 7, 6, 4, 5, 5, ..."
25,26,RS/Brasil,Catete,22,G,H,"[6, 7, 3, 6, 8, 10, 6, 9, 10, 8, 6, 7, 5, 6, 4..."
26,27,SP/Brasil,Botafogo,23,Me,H,"[5, 3, 5, 4, 2, 8, 6, 4, 2, 4, 6, 5, 8, 6, 5, ..."
27,28,SP/Brasil,Catete,21,G,H,"[4, 2, 5, 4, 8, 8, 8, 5, 6, 4, 1, 3, 7, 5, 7, ..."
28,29,CE/Brasil,Botafogo,21,G,H,"[5, 6, 5, 4, 6, 6, 5, 7, 7, 6, 7, 6, 8, 8, 5, ..."
29,30,CE/Brasil,Botafogo,20,G,H,"[5, 6, 7, 8, 7, 5, 3, 6, 4, 3, 5, 7, 5, 8, 6, ..."

In [40]:
df_lista = pd.read_excel("listaAlet150.xlsx")
def to_int_array(s):
    s = s.replace("{", "[").replace("}", "]")  
    lista_str = ast.literal_eval(s)           
    return [int(x) for x in lista_str]         

df_lista["seleccionadas"] = df_lista["seleccionadas"].apply(to_int_array)
df_lista

    participante_id                                      seleccionadas
0    participante_1  [3, 4, 5, 7, 8, 9, 30, 32, 33, 36, 39, 41, 43,...
1    participante_2  [0, 2, 7, 10, 11, 15, 20, 21, 22, 23, 24, 26, ...
2    participante_3  [5, 7, 12, 13, 14, 17, 26, 28, 29, 31, 34, 35,...
3    participante_4  [2, 9, 11, 12, 15, 19, 23, 25, 26, 28, 35, 37,...
4    participante_5  [1, 4, 5, 9, 14, 16, 20, 21, 27, 30, 32, 36, 3...
5    participante_6  [1, 3, 4, 5, 6, 10, 12, 13, 15, 16, 17, 21, 25...
6    participante_7  [2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 21, 26, 27, 2...
7    participante_8  [2, 6, 16, 19, 23, 28, 32, 37, 38, 41, 42, 46,...
8    participante_9  [0, 1, 5, 8, 13, 17, 18, 20, 21, 22, 30, 45, 4...
9   participante_10  [0, 5, 10, 14, 15, 19, 24, 26, 33, 34, 35, 37,...
10  participante_11  [6, 7, 8, 10, 11, 13, 15, 17, 18, 25, 27, 29, ...
11  participante_12  [8, 11, 13, 15, 17, 23, 24, 25, 27, 31, 33, 37...
12  participante_13  [1, 3, 5, 7, 8, 10, 14, 16, 18, 25, 26, 27, 38...
13  participante_14  [2, 3, 4, 6, 9, 14, 17, 18, 24, 26, 31, 33, 36...
14  participante_15  [1, 3, 10, 15, 16, 19, 20, 21, 22, 28, 29, 33,...
15  participante_16  [0, 2, 3, 4, 6, 18, 20, 22, 26, 30, 31, 32, 34...
16  participante_17  [2, 3, 10, 11, 12, 17, 19, 26, 30, 32, 34, 36,...
17  participante_18  [3, 7, 11, 13, 18, 19, 20, 22, 25, 28, 29, 40,...
18  participante_19  [0, 2, 8, 14, 18, 23, 24, 27, 29, 30, 31, 35, ...
19  participante_20  [2, 7, 8, 9, 15, 17, 19, 23, 25, 26, 29, 31, 3...
20  participante_21  [4, 6, 9, 10, 11, 12, 14, 18, 20, 22, 23, 24, ...
21  participante_22  [1, 4, 6, 11, 12, 15, 17, 22, 25, 28, 30, 34, ...
22  participante_23  [0, 1, 9, 13, 16, 20, 21, 23, 27, 29, 32, 34, ...
23  participante_24  [4, 9, 11, 12, 16, 17, 22, 27, 28, 32, 38, 39,...
24  participante_25  [14, 18, 21, 23, 24, 25, 32, 34, 36, 41, 44, 4...
25  participante_26  [1, 5, 12, 13, 14, 23, 28, 30, 31, 33, 36, 39,...
26  participante_27  [0, 6, 10, 15, 16, 19, 20, 21, 22, 27, 28, 32,...
27  participante_28  [0, 7, 12, 13, 16, 18, 19, 24, 25, 34, 36, 40,...
28  participante_29  [0, 1, 5, 6, 7, 8, 13, 14, 19, 22, 24, 29, 31,...
29  participante_30  [0, 1, 2, 3, 4, 8, 9, 11, 16, 20, 21, 24, 29, ...

In [41]:
df = pd.concat([df_scores, df_lista], axis=1)
df = df[['Nº PARTICIPANTE', 'ESTADO/PAIS DE ORIGEM', 'BAIRRO', 'IDADE', 'GRAU DE ESCOLARIDADE', 'IDENTIDADE DE GÊNERO', 'seleccionadas', 'scores']]
df = df.rename(columns={
    'score': 'Score Safety',
    'seleccionadas': 'Id Image'
})
df.head()

,Nº PARTICIPANTE,ESTADO/PAIS DE ORIGEM,BAIRRO,IDADE,GRAU DE ESCOLARIDADE,IDENTIDADE DE GÊNERO,Id Image,scores
0,1,PE/Brasil,Botafogo,22,G,H,"[3, 4, 5, 7, 8, 9, 30, 32, 33, 36, 39, 41, 43,...","[7, 7, 4, 4, 4, 3, 6, 5, 5, 6, 7, 3, 4, 4, 3, ..."
1,2,ES/Brasil,Laranjeiras,22,G,H,"[0, 2, 7, 10, 11, 15, 20, 21, 22, 23, 24, 26, ...","[4, 7, 5, 3, 7, 9, 4, 2, 8, 9, 7, 2, 6, 8, 4, ..."
2,3,Paraguai,Botafogo,29,D,H,"[5, 7, 12, 13, 14, 17, 26, 28, 29, 31, 34, 35,...","[4, 7, 3, 4, 5, 6, 4, 5, 5, 7, 7, 7, 5, 4, 4, ..."
3,4,Peru,Centro,43,Me,H,"[2, 9, 11, 12, 15, 19, 23, 25, 26, 28, 35, 37,...","[5, 3, 6, 3, 5, 4, 6, 4, 3, 5, 5, 5, 6, 4, 6, ..."
4,5,Peru,Botafogo,25,Me,H,"[1, 4, 5, 9, 14, 16, 20, 21, 27, 30, 32, 36, 3...","[4, 5, 5, 4, 4, 3, 3, 6, 4, 8, 4, 3, 9, 1, 8, ..."

In [42]:
cross = {}
for i in range(len(df['Id Image'])):
    for j in range(len(df['Id Image'][i])):
        key = df['Id Image'][i][j]
        if key not in cross:
            cross[key] = []
        
        cross[key].append({
            'score': int(df['scores'][i][j]),
            'participant': int(df['Nº PARTICIPANTE'][i]),
            'state': df['ESTADO/PAIS DE ORIGEM'][i],
            'age': int(df['IDADE'][i]),
            'gener': df['IDENTIDADE DE GÊNERO'][i],
        })


#with open('cross.json', 'w', encoding='utf-8') as f:
#    json.dump(cross, f, ensure_ascii=False, indent=2)

In [45]:
from collections import OrderedDict

data_sorted = OrderedDict(sorted(cross.items(), key=lambda x: int(x[0])))
#with open('/home/luis/Documents/FGV/eclass/final-project-security-urban-perception-tracking/static/cross.json', 'w', encoding='utf-8') as f:
#    json.dump(data_sorted, f, ensure_ascii=False, indent=2)

avg_scores = {}
for key, records in data_sorted.items():
    if records: 
        total_score = sum(item['score'] for item in records)
        avg_score = total_score / len(records)
        avg_scores[key] = round(avg_score, 2)  
    else:
        avg_scores[key] = None

In [46]:
avg_scores

{0: 5.5,
 1: 5.4,
 2: 5.8,
 3: 7.2,
 4: 7.5,
 5: 4.7,
 6: 4.1,
 7: 4.3,
 8: 5.3,
 9: 3.5,
 10: 4.4,
 11: 6.4,
 12: 4.4,
 13: 5.4,
 14: 6.1,
 15: 6.1,
 16: 3.7,
 17: 6.7,
 18: 5.6,
 19: 6.9,
 20: 4.3,
 21: 4.8,
 22: 5.1,
 23: 7.8,
 24: 6.2,
 25: 4.0,
 26: 3.7,
 27: 5.8,
 28: 5.9,
 29: 5.2,
 30: 6.2,
 31: 7.1,
 32: 6.2,
 33: 5.5,
 34: 5.0,
 35: 6.4,
 36: 5.0,
 37: 6.3,
 38: 3.2,
 39: 7.3,
 40: 4.7,
 41: 4.5,
 42: 5.4,
 43: 5.6,
 44: 6.2,
 45: 6.1,
 46: 5.4,
 47: 6.1,
 48: 4.1,
 49: 5.1,
 50: 7.6,
 51: 4.3,
 52: 7.5,
 53: 4.3,
 54: 3.0,
 55: 4.6,
 56: 4.5,
 57: 2.0,
 58: 5.0,
 59: 6.3,
 60: 3.7,
 61: 7.5,
 62: 7.4,
 63: 4.1,
 64: 5.6,
 65: 4.6,
 66: 7.7,
 67: 5.1,
 68: 2.9,
 69: 3.8,
 70: 2.7,
 71: 4.2,
 72: 5.7,
 73: 5.4,
 74: 3.4,
 75: 3.5,
 76: 5.0,
 77: 2.0,
 78: 3.1,
 79: 3.9,
 80: 5.0,
 81: 7.0,
 82: 5.2,
 83: 6.1,
 84: 3.8,
 85: 5.1,
 86: 4.2,
 87: 5.1,
 88: 4.3,
 89: 5.9,
 90: 6.9,
 91: 7.0,
 92: 5.8,
 93: 4.2,
 94: 6.0,
 95: 5.7,
 96: 3.7,
 97: 3.2,
 98: 6.0,
 99: 5.1,
 100: 2.9,
 101: 4.4,
 102: 5.1,
 103: 4.5,
 104: 5.8,
 105: 5.3,
 106: 6.0,
 107: 5.7,
 108: 3.4,
 109: 2.8,
 110: 4.9,
 111: 2.6,
 112: 4.5,
 113: 6.2,
 114: 3.4,
 115: 6.7,
 116: 4.8,
 117: 3.2,
 118: 4.2,
 119: 8.4,
 120: 6.6,
 121: 5.3,
 122: 4.7,
 123: 6.1,
 124: 5.7,
 125: 4.5,
 126: 4.3,
 127: 5.9,
 128: 2.6,
 129: 8.1,
 130: 4.1,
 131: 5.0,
 132: 4.7,
 133: 3.9,
 134: 7.3,
 135: 6.0,
 136: 4.2,
 137: 4.4,
 138: 4.6,
 139: 3.4,
 140: 6.2,
 141: 3.1,
 142: 3.9,
 143: 4.9,
 144: 4.7,
 145: 5.7,
 146: 4.2,
 147: 4.4,
 148: 7.3,
 149: 4.2}